<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-shortener</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Noto+Sans+TC:wght@300;500;700&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="header-title">URL Shortener</h1>
        <img class="header-img" src="/public/images/bg-img.png">
    </header>
    {{{body}}}
    <footer>This project is deployed on AWS servers.</footer>
</body>
</html>