<form class="url-form" action="./shortener" method="POST">
    <input class="url-input" type="url" name="url" placeholder="Input URL here" change="validation()" required>
    <button class="btn url-btn" type="submit">Shorten</button>
</form>