<div class="container">
    <p class="description">Success! Please use this link:
    </p>
    <a id="shorter-url" href="http://url-shortener-dev.ap-northeast-1.elasticbeanstalk.com/{{transfer}}" target="_blank">
        http://url-shortener-dev.ap-northeast-1.elasticbeanstalk.com/{{transfer}}
    </a>
    <p class="remind">(Since I haven't purchased a personal domain, the short URL prefix is the default AWS URL.)</p>

    <div class="btn-group">
        <button class="btn btn-copy" onclick="copyText()">Copy</button>
        <a href="http://url-shortener-dev.ap-northeast-1.elasticbeanstalk.com/">
            <button class="btn btn-home">Home</button>
        </a>
    </div>
</div>

<script>
    function copyText() {
        const content = document.getElementById('shorter-url');
        if (navigator.clipboard && window.isSecureContext) {
            navigator.clipboard.writeText(content.innerText)
                .then(() => alert('Copied!'))
                .catch(err => console.error(err));
        } else {
            let textArea = document.createElement("textarea");
            textArea.value = content.innerText;
            textArea.style.position = "absolute";
            textArea.style.opacity = 0;
            textArea.style.left = "-999999px";
            textArea.style.top = "-999999px";
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
            document.execCommand('copy') ? alert('Copied!') : console.error('Copy failed');
            textArea.remove();
        }
    }
</script>